/* BackToTopButton.css */
.back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: gold;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
    transition: .5s;
  }
  
  .back-to-top-btn:hover {
    background-color: transparent;
    transform: translateY(-10px);
  }
  