@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #999; 
  color: gold; 
}

::-webkit-scrollbar {
  width: 12px; 
}


::-webkit-scrollbar-track {
  background: #171717; 
}

::-webkit-scrollbar-thumb {
  background: gold;
  border-radius: 2px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

body {
  display: table;
  width: 100%;
  height: 100vh;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow-x: hidden;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  z-index: -1;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -25%;
}

.line:nth-child(1)::after {
  animation-delay: 2s;
}

.line:nth-child(3) {
  margin-left: 25%;
}

.line:nth-child(3)::after {
  animation-delay: 2.5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

.content-secand {
  text-align: center;
  color: #ffffff;
  margin: -800px 13px 0 13px;
  font-size: 35px;
 
}

@media (max-width:767px) {
  .content-secand{
    margin: -190px 13px 0 13px;
    font-size: 16px;
  }
  .center-container{
    font-size: 14px;
  }
}
@media (min-width:768px) and (max-width:1150px) {
  .content-secand{
    margin: -450px 13px 0 13px;
    font-size: 30px;
  }
}

.center-container {
  text-align: center !important; 
  color: white !important;
  height: 0px;
}

